<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>FileZap Registration</title>
    <style>
        body {
          background-color: #dddddd;
        }
    </style>
</head>
<body>

<div class="container">
    <form method="post" action="/register">
        <div class="form-group">
                <label>Username</label>
                <input type="text" name="username" class="form-control form-control-lg"><br>
                <label>Password</label>
                <input type="password" name="password" class="form-control form-control-lg"><br>
                <input type="submit" class="btn btn-primary btn-block" value="Register">
        </div>
    </form>

    <h5>{{msg}}</h5>
</div>

</body>
</html>